# __pycache__
blaze_common/__pycache__/
blaze_tflite/__pycache__/
blaze_pytorch/__pycache__/
blaze_vitisai/__pycache__/
# models
blaze_tflite/models/*.tflite
blaze_pytorch/models/*.pth
blaze_vitisai/models/blaze*/*/*

